.link {
    text-decoration: none;
    color: var(--white);
}

.review-table th {
    background-color: #D0BBEB;
}

.review-title {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}