:root {
    --primary: #092C4C;
    --secondary-blue: #3C8AFF;
    --secondary-lavander: #D0BBEB;
    --accent: #F2994A;
    --white: #ffffff;
    --gray-1: #BCCEDC;
    --gray-2: #87A0B2;
    --gray-3: #577286;
}

.flex-container {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    background: var(--secondary-lavander);
    background: linear-gradient(180deg, rgba(60,138,255,1) 0%, rgba(208,187,235,1) 54%, rgba(234,178,122,1) 100%);
    min-height: 100vh;
    min-width: 100vh;
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    height: 100vh;
    text-align: center;
}

.title {
    width: 100%;
}

.title h1 {
    color: var(--white);
    font-weight: 900;
    font-size: 4em;
    line-height: 100%;
    text-align: center;;
    margin-bottom: 60px;
    
    
}

.title .text-highlight {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 15%;
    text-underline-offset: 20%;
}


.description h4 {
    color: var(--white);
    font-weight: 500;
    font-size: 1em;
    line-height: 140%;
    text-align: center;

    max-width: 550px;

    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 20px;
}
.ctaButton {
    color: var(--white);
    font-weight: 700;
    font-size: 1em;

    background-color: var(--secondary-blue);
    padding: 16px 80px;
    
    border: none;
    border-radius: 50px;

    overflow: hidden;
    transition: 500ms;
}
.ctaButton:hover {
    border-radius: 0;
}

@media (max-width: 768px) {
    .title h1{
        font-size: 3em;
        margin-bottom: 20px;
    }
    .title .text-highlight {
        text-decoration: none;
    }
    
    .description h4 {
        max-width: 280px;
        text-align: left;
        
    }
}

@media (max-width: 355px) {
    .title h1 {
        font-size: 2em;
        text-align: left;
        margin: 5px;
        }
    .description h4 {
        margin: 5px;
        margin-bottom: 40px;
    }
    .ctaButton {
        padding: 16px 2.3em;
    }
}