
.home-page-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    height: 100vh;
    text-align: center;
    width: 100vw;
    background: linear-gradient(180deg, rgba(60,138,255,1) 0%, rgba(208,187,235,1) 54%, rgba(234,178,122,1) 100%);
    margin-bottom: -100px;
}

.title {
    color: var(--white);
}

.title .text-highlight {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 15%;
    text-underline-offset: 20%;
}

.description {
    max-width: 500px;
}

#ctaButton {
    background-color: var(--secondary-blue);
}
#ctaButton:hover {
    background-color: var(--primary);
}

@media (max-width: 768px) {
    .title h1{
        font-size: 3em;
        margin-bottom: 20px;
    }
    .title .text-highlight {
        text-decoration: none;
    }
    
    .description {
        max-width: 280px;
        text-align: left;
        
    }
}

@media (max-width: 355px) {
    .title h1 {
        font-size: 2em;
        text-align: left;
        margin: 5px;
        }
    .description {
        margin: 5px;
        margin-bottom: 40px;
    }
    .ctaButton {
        padding: 16px 2.3em;
    }
}