  /* Appointment Confirmation Styling */
.appointment-details {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  text-align: center;
}

.appointment-details strong {
  color: var(--accent);
  font-weight: 700;
  font-size: 1.25em;
}

#cancel {
  background-color: var(--secondary-lavander);
  }

#cancel:hover {
  background-color: var(--secondary-blue);
}