/*Color Scheme*/

:root {
    --primary: #092C4C;
    --secondary-blue: #3C8AFF;
    --secondary-lavander: #D0BBEB;
    --accent: #F2994A;
    --white: #ffffff;
    --gray-1: #BCCEDC;
    --gray-2: #87A0B2;
    --gray-3: #577286;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 0.875em;
    color: var(--primary);
}

#title {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
}

.description {
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

.description a {
    color: var(--accent);
    font-weight: 700;
    text-decoration: none;
}
.form-container {
    margin-bottom: 25px;
    max-width: 350px;
}

.form-label {
    text-transform: uppercase;
    font-weight: 700;
}

#submit {
    background-color: var(--accent);
    border: none;
    border-radius: 7;
    padding: 16px 80px;

    font-weight: 700;
}
#submit:hover {
    background-color: var(--secondary-blue);
}

#reset {
    color: var(--gray-3);
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 15%;
}

input::placeholder {
    font-size: 0.875em; /* Adjust font size */
    font-weight: 300;
}

#accountType {
    color: var(--secondary-blue); /* Set your desired color */
    font-size: 1em; /* Adjust font size */
    font-weight: 600;
}

.form-container input {
    color: var(--secondary-blue); /* Set your desired color */
    font-size: 1.25em; /* Adjust font size */
    font-weight: 600;
}
