.navbar {
    background-color: var(--primary);
    color: var(--white);
}

.navbar-brand a svg:hover {
    fill: var(--secondary-blue);
}

/* NavBar links */
.nav-item .nav-link {
    color: var(--white);
    text-align: center;
    font-size: 1em;
    white-space: nowrap;
    font-weight: 700;
    transition: color 300ms ease;
}

.nav-item .nav-link:hover {
    color: var(--secondary-blue);
}

.nav-item .nav-link:focus {
    color: var(--white);
}
.navbar-nav .nav-link.active {
    color: var(--white);
}

/* Dropdown Menu */
#dropdown-toggle:hover {
    color: var(--secondary-blue);
    background-color: transparent;
}

#dropdown-toggle:focus {
    color: var(--white);
    background-color: transparent;
}

#dropdown-menu {
    background-color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 7px;
}

#dropdown-item {
    font-weight: 700;
    font-size: 0.875em;
    color: var(--primary);
    padding: 20px;
}

#dropdown-item:hover {
    background-color: var(--secondary-lavander);
}

/* Buttons */
#signup {
    padding: 12px 16px;
    white-space: nowrap;
    background-color: var(--accent);
    color: var(--primary);
}

#signup:hover {
    background-color: var(--secondary-blue);
    color: var(--white);
}

#login {
    padding: 12px 16px;
    white-space: nowrap;
    background-color: var(--secondary-blue);
    color: var(--white);
}

#login:hover {
    background-color: var(--accent);
    color: var(--white);
}



/* Toggle Button */
.navbar-toggler {
    width: auto;
    aspect-ratio: 1 / 1;
    padding: 8px;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    background-color: transparent;
}

.navbar-toggler:hover {
    background-color: var(--accent);
    outline: none;
    box-shadow: none;
}

.navbar-toggler:active {
    background-color: var(--accent);
    outline: none;
    box-shadow: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

@media (max-width: 767px) {

    .navbar-collapse {
        margin-top: 20px;
    }

    .navbar-collapse .nav-item {
        width: 100%;
        font-size: 1.25em;
    }

    .navbar-collapse .nav-link,
    .navbar-collapse .btn {
        display: block;
        width: 100%;
        text-align: center;
        padding: 12px; /* Increase padding for better touch target */
    }

    .navbar-collapse .btn:hover {
        background-color: var(--secondary-blue);
        color: var(--white);
    }
}