/*
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.inter-<uniquifier> {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  */

/*Color Scheme*/

:root {
    --primary: #092C4C;
    --secondary-blue: #3C8AFF;
    --secondary-lavander: #D0BBEB;
    --accent: #F2994A;
    --white: #ffffff;
    --gray-1: #BCCEDC;
    --gray-2: #87A0B2;
    --gray-3: #577286;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 0.875em;
}

.navbar {
    background-color: var(--primary);
    color: var(--white);
}

.navbar-brand a svg:hover {
    fill: var(--secondary-blue);
}

.nav-item .nav-link {
    color: var(--white);
    text-align: center;
    font-size: 0.875em;
    white-space: nowrap;
    font-weight: 700;
}

.nav-item .nav-link:hover {
    color: var(--secondary-blue);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#signUp, #login, #logout {
    padding: 8px 14px;
    border: none;
    border-radius: 7;
    white-space: nowrap;

    background-color: var(--accent);
    color: var(--primary);

    font-family: "Inter";
    font-size: 0.875em;
    font-weight: 700;

    transition: background-color 0.5s ease
}

#dropdown {
    padding: 8px 14px;
    border: none;
    border-radius: 7;
    white-space: nowrap;

    background-color: var(--primary);
    color: var(--white);

    font-family: "Inter";
    font-size: 0.875em;
    font-weight: 700;

    transition: background-color 0.5s ease
}

#signUp:hover, #login:hover, #dropdown:hover {
    background-color: var(--secondary-blue);
    color: var(--primary);
}

#login, #logout {
    padding: 7.5px 14px;
    border: 1px solid var(--white);
    
    background-color: var(--primary);
    color: var(--white);
}

#dropdown-menu {
    background-color: var(--white);
    border: 1px solid var(--primary);
    border-radius: 8px;
}

#dropdown-item {
    font-family: "Inter";
    font-size: 0.875em;
    font-weight: 700;
    color: var(--primary);
}

#dropdown-item:hover {
    background-color: var(--secondary-lavander);
}

.navbar-toggler {
    width: auto;
    aspect-ratio: 1 / 1;
    padding: 8px;
    border: none;
    border-radius: 50%;
    transition: background-color 0.8s ease
}

.navbar-toggler:hover {
    background-color: var(--accent);

}

.navbar-toggler:active {
    outline: none; /* Remove default focus outline */
    box-shadow: none; /* Remove Bootstrap’s default glow */
    background-color: var(--accent);
}

.navbar-toggler:focus {
        outline: none; /* Remove default focus outline */
        box-shadow: none; /* Remove Bootstrap’s default glow */
}

@media (max-width: 767px) {
    .navbar-collapse .navbar-nav {
        display: block;
        width: 100%;
    }
    
    .navbar-collapse .nav-link {
        margin-top: 20px; /* Add space between items */
        font-size: 1.25em;
    }

    .navbar-collapse .btn {
        margin-top: 20px;
        font-size: 1.25em;
        width: 100%;
    }
}

