
.form-intro h2, .form-intro p {
    margin: 0;
}

.submit-btn {
    margin-top: 30px;
    width: 100%;
    border-radius: 50px;
    transition: 500ms;
    background-color: #F2994A;
}

.submit-btn:hover {
    border-radius: 0;
    background-color: #F2994A;
}

.feedback-form {
    text-align: left;
}

.success-message {
    margin-top: 30px;
    color: green;
}

.form-rating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    accent-color: var(--secondary-blue);
}

.form-rating-radio {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}