body, html {
  height: 100%;
  margin: 0;
  width: 100%;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 0.875em;
  color: var(--primary);

}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

main {
  flex-grow: 1;
}

.fixed-top {
  z-index: 900;
}

.container {
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Color Scheme*/
:root {
  --primary: #092c4c;
  --secondary-blue: #3C8AFF;
  --secondary-lavander: #D0BBEB;
  --accent: #F2994A;
  --white: #ffffff;
  --gray-1: #BCCEDC;
  --gray-2: #87A0B2;
  --gray-3: #577286;
  --opaque-primary: rgba(9, 44, 76, 0.5);
  --opaque-white: rgba(255, 255, 255, 0.3);
}

/* Fonts & Text styles */
h1 {
  font-weight: 900;
  font-size: 6em;
  line-height: 100%;
  text-align: center;;
  margin-bottom: 60px;
}

h2 {
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  color: var(--primary);
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--primary);
}

h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
}

.large-body {
  font-weight: 500;
  font-size: 1.25em;
  line-height: 140%;
  color: var(--primary);
}

.medium-body {
  font-size: 1em;
  font-weight: 400;
}

.description {
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.link {
  color: var(--accent);
  font-weight: 700;
  text-decoration: none;
}

/* Button Styles */

.button {
  background-color: var(--accent);
  border: none;
  border-radius: 7px;
  padding: 16px 80px;
  white-space: nowrap;

  color: var(--white);
  font-size: 1em;
  font-weight: 700;

  overflow: hidden;
  transition: 300ms ease;
}

.button:hover {
  background-color: var(--secondary-blue);
  color: var(--white);
}

.button:disabled {
  background-color: var(--gray-1);
  color: var(--gray-3);
}

.spinner-border {
  color: var(--accent);
}

.secondary-button {
  background-color: var(--primary);
  border: none;
  border-radius: 7px;
  padding: 12px 16px;
  white-space: nowrap;

  color: var(--white);
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;

  transition: 300ms ease
}

.secondary-button:hover {
  background-color: var(--secondary-blue);
}

.secondary-button:disabled {
  background-color: var(--gray-1);
  color: var(--gray-3);
}

.secondary-link {
  color: var(--gray-2);
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 15%;
}

button .link {
  color: var(--white);
}

.small-button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 5px 8px;
  white-space: nowrap;
  
  color: var(--primary);

  font-size: 1em;
  font-weight: 600;
  text-decoration: none;

  transition: 300ms ease
}

.small-button:hover {
  background-color: var(--secondary-blue);
  color: var(--white);
}

/* Form Styles */

.form-container {
  margin-bottom: 25px;
  max-width: 350px;
}

.form-label {
  text-transform: uppercase;
  font-weight: 700;
}

input::placeholder {
  font-size: 0.875em; 
  font-weight: 300;
}

.form-container input {
  color: var(--secondary-blue); 
  font-size: 1.25em; 
  font-weight: 600;
}

/* Card Style */
.card-container {
  display: inline-block;
  margin: 10px;
  margin-bottom: 20px;
  width: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
  
  border: 1px solid var(--gray-1);
  border-radius: 70px;
  box-shadow: 0 2px 4px var(--opaque-primary); 
  }

.card-details {
  text-align: center;
  font-weight: 400;
  line-height: 160%;
}

@media (max-width: 425px) {
  .card-container {
    width: auto;
    margin-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Search Bar */

.searchContainer {
  position: relative;
  max-width: 400px;
  cursor: pointer;
}

.searchBar {
  width: 100%;
  padding: 10px 40px 10px 15px;
  border-radius: 7px;
  border: 1px solid var(--gray-1);
  outline: none;
  color: var(--secondary-blue); 
  font-size: 1.25em; 
  font-weight: 600;
}

.searchBar::placeholder {
  font-size: 0.875em; 
  font-weight: 300;
}


.searchIcon {
  position: absolute;
  right: 3%;
  top: 45%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;

}

.searchDropdown {
  position: absolute;
  z-index: 10;

  list-style-type: none;
  padding: 0;
  margin: 10px 0 0;
  width: 100%;

  color: var(--primary);

  /* Similar to #dropdown-menu from navbar */
  background-color: var(--white);
  border: 1px solid var(--gray-1);
  border-radius: 7px;
}

.searchDropdownItem {
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--primary);
  
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.searchDropdownItem:hover {
  background-color: var(--secondary-lavander);
}

.searchDropdownItem>span:nth-of-type(2) {
  font-size: 11px;
  flex-grow: 1;
  color: #787887;
  text-align: right;
  text-transform: uppercase;
  justify-self: flex-end;
}

/* Popup Styling */

.popup-overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); 
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: var(--white);
  border-radius: 70px;
  padding: 50px;
  max-height: 80vh;
  max-width: 500px;
  overflow-y: auto;
  text-align: center;
}

@media (max-width: 768px) {
  .popup-content {
    padding: 30px;
    border-radius: 50px;
  }
}


/* Table styling */
.table {
  margin-top: 20px;
  overflow-x: auto;
}

.table table {
  max-width: 800px;
  min-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.review-title {
  margin-bottom: 25px;
}

.table thead tr {
  color: var(--primary);
  background-color: var(--secondary-lavander);
}

.table th, .table td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  color: var(--primary);
}



