.profile-info {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    
    align-items: center;
    gap: 20px;
}

@media (max-width: 768px) {
    .profile-info {
        justify-content: center;
    }
}

.profile-info-text {
    margin: auto;
    text-align: left;
    min-width: 202px;
}

.profile-info-text h3 {
    margin-bottom: 25px;
}

#btn-cancel {
    background-color: var(--secondary-blue);
    color: var(--white);
}

#btn-cancel:hover {
    background-color: var(--primary);
    color: var(--white);
}

.update-message {
    color: var(--accent);
}


